In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('netflix_data.csv', engine='python')
df.head()

,Release_Date,Title,Overview,Popularity,Vote_Count,Vote_Average,Original_Language,Genre,Poster_Url
0,2021-12-15,Spider-Man: No Way Home,Peter Parker is unmasked and no longer able to...,5083.954,8940,8.3,en,"Action, Adventure, Science Fiction",https://image.tmdb.org/t/p/original/1g0dhYtq4i...
1,2022-03-01,The Batman,"In his second year of fighting crime, Batman u...",3827.658,1151,8.1,en,"Crime, Mystery, Thriller",https://image.tmdb.org/t/p/original/74xTEgt7R3...
2,2022-02-25,No Exit,Stranded at a rest stop in the mountains durin...,2618.087,122,6.3,en,Thriller,https://image.tmdb.org/t/p/original/vDHsLnOWKl...
3,2021-11-24,Encanto,"The tale of an extraordinary family, the Madri...",2402.201,5076,7.7,en,"Animation, Comedy, Family, Fantasy",https://image.tmdb.org/t/p/original/4j0PNHkMr5...
4,2021-12-22,The King's Man,As a collection of history's worst tyrants and...,1895.511,1793,7.0,en,"Action, Adventure, Thriller, War",https://image.tmdb.org/t/p/original/aq4Pwv5Xeu...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9837 entries, 0 to 9836
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Release_Date       9837 non-null   object
 1   Title              9828 non-null   object
 2   Overview           9828 non-null   object
 3   Popularity         9827 non-null   float64
 4   Vote_Count         9827 non-null   object
 5   Vote_Average       9827 non-null   object
 6   Original_Language  9827 non-null   object
 7   Genre              9826 non-null   object
 8   Poster_Url         9826 non-null   object
dtypes: float64(1), object(8)
memory usage: 691.8+ KB

In [5]:
#df['Vote_Count'] = pd.to_numeric(df['Vote_Count'], errors='coerce')
#df['Vote_Average'] = df['Vote_Average'].astype(float)
#df['Release_Date'] = pd.to_datetime(df['Release_Date'])

In [6]:
df[df['Vote_Average'] == 'Animation']

,Release_Date,Title,Overview,Popularity,Vote_Count,Vote_Average,Original_Language,Genre,Poster_Url
1115,- Magic Tricks,61.328,35,7.1,en,Animation,https://image.tmdb.org/t/p/original/6iXYe7AkQ1...,None,None

In [7]:
df = df[df['Vote_Average']!='Animation']

In [8]:
#df['Vote_Count'] = pd.to_numeric(df['Vote_Count'], errors='coerce')
#df['Vote_Average'] = df['Vote_Average'].astype(float)
#df['Release_Date'] = pd.to_datetime(df['Release_Date'])

In [9]:
df['Release_Date'] = pd.to_datetime(df['Release_Date'], errors='coerce')

# Keep only rows where the conversion succeeded (i.e., not NaT)
df = df[df['Release_Date'].notna()]

In [10]:
df['Vote_Count'] = pd.to_numeric(df['Vote_Count'], errors='coerce')
df['Vote_Average'] = df['Vote_Average'].astype(float)
df['Release_Date'] = pd.to_datetime(df['Release_Date'])

In [11]:
df['Release_Date'] = df['Release_Date'].dt.year

In [12]:
df.describe(include=[np.number])

       Release_Date   Popularity    Vote_Count  Vote_Average
count   9827.000000  9826.000000   9826.000000   9826.000000
mean    2006.203623    40.323951   1392.943721      6.439467
std       15.685554   108.879332   2611.303856      1.129797
min     1902.000000    13.354000      0.000000      0.000000
25%     2000.000000    16.128250    146.000000      5.900000
50%     2011.000000    21.195000    444.000000      6.500000
75%     2017.000000    35.179250   1376.000000      7.100000
max     2024.000000  5083.954000  31077.000000     10.000000

**Dropping the columns**

In [13]:
cols = ['Overview','Original_Language','Poster_Url']
df.drop(cols,axis=1,inplace=True)

In [14]:
df.head()

,Release_Date,Title,Popularity,Vote_Count,Vote_Average,Genre
0,2021,Spider-Man: No Way Home,5083.954,8940.0,8.3,"Action, Adventure, Science Fiction"
1,2022,The Batman,3827.658,1151.0,8.1,"Crime, Mystery, Thriller"
2,2022,No Exit,2618.087,122.0,6.3,Thriller
3,2021,Encanto,2402.201,5076.0,7.7,"Animation, Comedy, Family, Fantasy"
4,2021,The King's Man,1895.511,1793.0,7.0,"Action, Adventure, Thriller, War"

**Categorizing the Vote_Average Columns**

In [15]:
##THIS WILL CREATE A NEW COLUMN BUT WE WANT TO CATEGORIZE THE EXISTING COLUMN ONLY

##   def categorizing(vote):
##    if vote >= 8:
##        return 'Excellent'
##    elif vote >= 6:
##        return 'Good'
##    elif vote >= 4:
##       return 'Average'
##    else:
##        return 'Poor'
##    
##   df['Category'] = df['Vote_Average'].apply(categorizing)

In [16]:
##CREATING A FUNCTION TO CREATE EDGES(BINS)

def categorize_col(df,col,labels):
    edges=[df[col].describe()['min'],
           df[col].describe()['25%'],
           df[col].describe()['50%'],
           df[col].describe()['75%'],
           df[col].describe()['max']]

    df[col]=pd.cut(df[col],bins=edges,labels=labels,duplicates = 'drop')
    return df

In [17]:
labels=['Poor','Below Average','Average','Popular']
categorize_col(df,'Vote_Average',labels)

,Release_Date,Title,Popularity,Vote_Count,Vote_Average,Genre
0,2021,Spider-Man: No Way Home,5083.954,8940.0,Popular,"Action, Adventure, Science Fiction"
1,2022,The Batman,3827.658,1151.0,Popular,"Crime, Mystery, Thriller"
2,2022,No Exit,2618.087,122.0,Below Average,Thriller
3,2021,Encanto,2402.201,5076.0,Popular,"Animation, Comedy, Family, Fantasy"
4,2021,The King's Man,1895.511,1793.0,Average,"Action, Adventure, Thriller, War"
...,...,...,...,...,...,...
9832,1973,Badlands,13.357,896.0,Popular,"Drama, Crime"
9833,2020,Violent Delights,13.356,8.0,Poor,Horror
9834,2016,The Offering,13.355,94.0,Poor,"Mystery, Thriller, Horror"
9835,2021,The United States vs. Billie Holiday,13.354,152.0,Average,"Music, Drama, History"
9836,1984,Threads,13.354,186.0,Popular,"War, Drama, Science Fiction"

In [18]:
##COUNTING THE MOVIES BASED ON CATEGORIES
df['Vote_Average'].value_counts()

Vote_Average
Poor             2467
Popular          2450
Average          2411
Below Average    2398
Name: count, dtype: int64

In [19]:
##DROPPING ANY NaN VALUE IF PRESENT
df.dropna(inplace=True)
df.isna().sum()

Release_Date    0
Title           0
Popularity      0
Vote_Count      0
Vote_Average    0
Genre           0
dtype: int64

**SPLITTING GENRE IN A LIST AND EXPLODE DATAFRAME SUCH THAT EACH ROW HAS ONE GENRE PER MOVIE**

In [20]:
df['Genre']=df['Genre'].str.split(', ')
df=df.explode('Genre').reset_index(drop=True)
df

,Release_Date,Title,Popularity,Vote_Count,Vote_Average,Genre
0,2021,Spider-Man: No Way Home,5083.954,8940.0,Popular,Action
1,2021,Spider-Man: No Way Home,5083.954,8940.0,Popular,Adventure
2,2021,Spider-Man: No Way Home,5083.954,8940.0,Popular,Science Fiction
3,2022,The Batman,3827.658,1151.0,Popular,Crime
4,2022,The Batman,3827.658,1151.0,Popular,Mystery
...,...,...,...,...,...,...
25546,2021,The United States vs. Billie Holiday,13.354,152.0,Average,Drama
25547,2021,The United States vs. Billie Holiday,13.354,152.0,Average,History
25548,1984,Threads,13.354,186.0,Popular,War
25549,1984,Threads,13.354,186.0,Popular,Drama
25550,1984,Threads,13.354,186.0,Popular,Science Fiction

In [21]:
##CASTING 'GENRE' COLUMN IN CATEGORY
df['Genre'].astype('category')

0                 Action
1              Adventure
2        Science Fiction
3                  Crime
4                Mystery
              ...
25546              Drama
25547            History
25548                War
25549              Drama
25550    Science Fiction
Name: Genre, Length: 25551, dtype: category
Categories (19, object): ['Action', 'Adventure', 'Animation', 'Comedy', ..., 'TV Movie', 'Thriller', 'War', 'Western']

In [22]:
df.to_csv('cleaned_data.csv', index=False)